name: C/C++ CI

on:
  push:
    branches: [ '*' ]
  pull_request:
    branches: [ '*' ]

jobs:
  arch-linux:
    runs-on: ubuntu-latest
    container: greyltc/archlinux-aur:yay

    steps:
    - uses: ammaraskar/gcc-problem-matcher@master

    - name: Build user
      run: |
          USER=ab
          echo "$USER ALL=(ALL) NOPASSWD: /usr/bin/pacman" >> "/etc/sudoers.d/$USER-no-password"

    - run: sudo -Eu ab
        yay -Syu
        --needed
        --noconfirm
        --noprogressbar
        --removemake
        git
        vulkan-memory-allocator

    - uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - run: chown --recursive ab ./

    - name: makepkg
      working-directory: ./pkg/arch
      run: |
        export MAKEFLAGS=-j$(nproc)
        export PKGDEST=./
        sudo -Eu ab makepkg -s --noconfirm

    - uses: actions/upload-artifact@v3
      with:
        name: arch_package
        path: pkg/arch/*.pkg.tar.*
